/* car-label_container card-label_content */
.car-label_container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.card-label_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0da4;
  color: white;
  font-size: 12px;
  font-family: 'Segoe UI';
  font-weight: bold;
  height: 40px;
  padding: 0px 50px;
}
